<div class="grid">
  <p-card header="Temperature">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
      consequuntur error repudiandae numquam deserunt quisquam repellat libero
      asperiores earum nam nobis, culpa ratione quam perferendis esse,
      cupiditate neque quas!
    </p>
    <ng-template pTemplate="footer">
      <p-button label="Go to Chart"></p-button>
    </ng-template>
  </p-card>

  <p-card header="CO2">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
      consequuntur error repudiandae numquam deserunt quisquam repellat libero
      asperiores earum nam nobis, culpa ratione quam perferendis esse,
      cupiditate neque quas!
    </p>
    <ng-template pTemplate="footer">
      <p-button label="Go to Chart"></p-button>
    </ng-template>
  </p-card>

  <p-card header="Methane">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
      consequuntur error repudiandae numquam deserunt quisquam repellat libero
      asperiores earum nam nobis, culpa ratione quam perferendis esse,
      cupiditate neque quas!
    </p>
    <ng-template pTemplate="footer">
      <p-button label="Go to Chart"></p-button>
    </ng-template>
  </p-card>

  <p-card header="NO2">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
      consequuntur error repudiandae numquam deserunt quisquam repellat libero
      asperiores earum nam nobis, culpa ratione quam perferendis esse,
      cupiditate neque quas!
    </p>
    <ng-template pTemplate="footer">
      <div class="flex justify-center">
        <p-button label="Go to Chart"></p-button>
      </div>
    </ng-template>
  </p-card>

  <p-card header="Arctic Ice">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
      consequuntur error repudiandae numquam deserunt quisquam repellat libero
      asperiores earum nam nobis, culpa ratione quam perferendis esse,
      cupiditate neque quas!
    </p>
    <ng-template pTemplate="footer">
      <p-button label="Go to Chart"></p-button>
    </ng-template>
  </p-card>
</div>
