<div class="grid md:grid-cols-2 gap-2 md:gap-4 mx-2">
  <p-card header="Temperature">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
      consequuntur error repudiandae numquam deserunt quisquam repellat libero
      asperiores earum nam nobis, culpa ratione quam perferendis esse,
      cupiditate neque quas!
    </p>
    <ng-template pTemplate="footer">
      <div class="flex justify-center">
        <a [routerLink]="['temperature-chart']" class="p-button font-bold"
          >Go to chart</a
        >
      </div>
    </ng-template>
  </p-card>

  <p-card header="CO2">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
      consequuntur error repudiandae numquam deserunt quisquam repellat libero
      asperiores earum nam nobis, culpa ratione quam perferendis esse,
      cupiditate neque quas!
    </p>
    <ng-template pTemplate="footer">
      <div class="flex justify-center">
        <a [routerLink]="['co2-chart']" class="p-button font-bold"
          >Go to chart</a
        >
      </div>
    </ng-template>
  </p-card>

  <p-card header="Methane">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
      consequuntur error repudiandae numquam deserunt quisquam repellat libero
      asperiores earum nam nobis, culpa ratione quam perferendis esse,
      cupiditate neque quas!
    </p>
    <ng-template pTemplate="footer">
      <div class="flex justify-center">
        <a [routerLink]="['methane-chart']" class="p-button font-bold"
          >Go to chart</a
        >
      </div>
    </ng-template>
  </p-card>

  <p-card header="NO2">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
      consequuntur error repudiandae numquam deserunt quisquam repellat libero
      asperiores earum nam nobis, culpa ratione quam perferendis esse,
      cupiditate neque quas!
    </p>
    <ng-template pTemplate="footer">
      <div class="flex justify-center">
        <a [routerLink]="['no2-chart']" class="p-button font-bold"
          >Go to chart</a
        >
      </div>
    </ng-template>
  </p-card>

  <p-card header="Arctic Ice">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
      consequuntur error repudiandae numquam deserunt quisquam repellat libero
      asperiores earum nam nobis, culpa ratione quam perferendis esse,
      cupiditate neque quas!
    </p>
    <ng-template pTemplate="footer">
      <div class="flex justify-center">
        <a [routerLink]="['arctic-chart']" class="p-button font-bold"
          >Go to chart</a
        >
      </div>
    </ng-template>
  </p-card>
</div>
